src/*.exe
src/ukcoin
src/ukcoind
src/test_ukcoin
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.ukcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
ukcoin-qt
UKCoin-Qt.app

# Unit-tests
Makefile.test
ukcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb*/Makefile
